* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  font-size: 18px;
}

ul {
  padding: 0
}

li {
  list-style: none
}


/************************
    APP
************************/
.App {
  background-color: #C9C5BA;
}

/************************
    cvWrapper
************************/
.cvWrapper {
  border: 1px solid #000;
  background-color: #ECEBE9;
  width: 1240px;
  height: 1754px;
  margin: 0 auto;
}

/************************
    grid
************************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.gridItem {
  border: 1px solid #000;
  grid-column: span 5;
  width: 100%;
}

.greeting {
  grid-area: 1 / 1 / span 1/ span 1;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  flex-direction: column;
  margin-top: 100px;
}

.rotated {
  transform: rotate(90deg);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

/************************
    main
************************/
#main {
  grid-area: 1/ 2/span 1/span 5;
}

#profileImage > img {
  height: auto;
  width: 100%;
}

.company {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5em;
}

.skillWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillName { width: 40%; } 

.percentContainer {
  width: 100%;
  background-color: #c3c3c3;
  margin-top: 10px;
}

.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.skill1 {width: 90%; background-color: #242021;}
.skill2 {width: 70%; background-color: #242021;}
.skill3 {width: 60%; background-color: #242021;}
.skill4 {width: 40%; background-color: #242021;}
.skill5 {width: 30%; background-color: #242021;}



/************************
    Aside
************************/

#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5em;
}

.subSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
}

.basicInfo {
  padding-top: 100px;
}
